body{
	margin: 0;
	padding: 0;
}
#header{
	position: fixed;
	width: 100%;
	padding: 20px 0;
	background: rgba(255,255,255,0.7);
	z-index: 999;
}
#header img{
	margin-left: 20px;
}
#header a{
	float: right;
	line-height: 50px;
	margin-right: 20px;
}
#main, nav{
	margin-top: 100px;
}

nav h2 a, nav h2 a:visited {
    color: #409F89;
}

h4
{
	color: #409F89;
}

.params .name, .props .name, .name code {
	color: #409F89;
}

